<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="jquery-3.4.1.min.js"></script>
</head>
<body>
<span id ="span1"></span>
242424669999
</body>
<script>/*document.ready(function(){
    var data= window.request.getAttribute("result");
    });*/
document.ready=function(){debugger;
        alert(window.request.getAttribute("result"));

    }
    $(document).ready(function(){debugger;


    });
</script>
</html>